@import '../colors.less';
@import '../margins.less';

// --> Buttons
@cl-btn-shadow: rgba(0,0,0,0.06);
@cl-btn-active: rgba(0,0,0,0.05);

@cl-btn-primary: @cl-primary;
@cl-btn-primary-border-top: lighten(@cl-primary, 5%);
@cl-btn-primary-border-bottom: darken(@cl-primary, 5%);
@cl-btn-primary-hover: darken(@cl-btn-primary, 5%);
@cl-btn-primary-active: darken(@cl-btn-primary, 10%);
@cl-btn-primary-disabled: lighten(@cl-btn-primary, 15%);

@cl-btn-success: @cl-success;
@cl-btn-success-hover: darken(@cl-btn-success, 5%);
@cl-btn-success-active: darken(@cl-btn-success, 10%);
@cl-btn-success-disabled: lighten(@cl-btn-success, 15%);

@cl-btn-danger: @cl-danger;
@cl-btn-danger-hover: darken(@cl-btn-danger, 3%);
@cl-btn-danger-active: darken(@cl-btn-danger, 7%);
@cl-btn-danger-disabled: lighten(@cl-btn-danger, 10%);

button, input[type=button], input[type=submit] {
  padding: .3em .6em .4em;
  font-size: 100%;
  font-weight: 400;
  cursor: pointer;
  outline: none;
  color: @cl-main;
  background: none;
  border-radius: 2px;
  border: 1px solid @cl-separator;
  background: @cl-white;

  &+& {
    margin-left: @mg-md;
  }

  &[disabled] { cursor: auto }
  &:hover { box-shadow: inset 0 0 1em @cl-btn-shadow }
  &:active { background-color: darken(@cl-white, 5%); box-shadow: inset 0 0 1em @cl-btn-shadow }

  &.xs { font-size: 70% }
  &.sm { font-size: 85% }
  &.lg { font-size: 120% }
  &.xl { font-size: 150% }

  &.primary {
    color: @cl-white;
    background: @cl-btn-primary;
    border: none;
    &:hover { background-color: @cl-btn-primary-hover }
    &:active { background-color: @cl-btn-primary-active }
    &[disabled] { background-color: @cl-btn-primary-disabled }
  }

  &.success {
    color: @cl-white;
    border: none;
    background: @cl-btn-success;
    &:hover { background-color: @cl-btn-success-hover }
    &:active { background-color: @cl-btn-success-active }
    &[disabled] { background-color: @cl-btn-success-disabled }
  }

  &.danger {
    color: @cl-white;
    border: none;
    background: @cl-btn-danger;
    &:hover { background-color: @cl-btn-danger-hover }
    &:active { background-color: @cl-btn-danger-active }
    &[disabled] { background-color: @cl-btn-danger-disabled }
  }
}
